

.main{
    background-image: url("../../public//asstes/images/zero_bacround.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;

}

.btn{
    padding: 18px 32px;
    background-color: rgba(255, 255, 255, 0.10); 
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    border: 2px solid rgba(255, 255, 255, 0.89);

}

.text{
text-shadow: 0px 0px 11.4px rgba(203, 43, 29, 0.65);
background: linear-gradient(180deg, #E54233 0%, #D63F2F 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



@media only screen and (max-width: 1024px) {
    .main{
        background-image: url("../../public//asstes/images/zero_1024.png") !important;
        background-position:top;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}


@media only screen and (max-width: 769px) {
    .main {
        background-image: url("../../public//asstes/images/zero_768.png") !important;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .hero_s{
        margin: 0 auto !important;
        max-width: 543px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px !important;
        padding-bottom: 560px !important;
        gap: 17px !important;

    }

    .hero_s h1{
        padding-left: 63px;
        padding-right: 63px;
        font-size: 44px;
        text-align: center;
    }
    .hero_s p{
        text-align: center;
    }

    .hero_s p:first-child{
        text-align: center;
        font-size: 32px !important;
    }
    .hero_s{
        padding-top: 130px;
        padding-bottom: 290px;
    }
    .btn {
       margin: 0 auto;
    }
}


@media only screen and (max-width: 500px) {
    .main {
        background-image: url("../../public//asstes/images/zero_3754.png") !important;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .hero_s{
        margin: 0 auto !important;
        max-width: 543px;
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-top: 35px !important;
        padding-bottom: 560px !important;
        gap: 17px !important;

    }

    .hero_s h1{
        font-size: 32px;
        text-align: center;
    }
    .hero_s p{
        text-align: center;
    }

    .text{
        text-align: center;
        font-size: 26px !important;
    }
    .hero_s{
        padding-top: 130px;
        padding-bottom: 290px;
    }
    .btn {
       margin: 0 auto;
    }
}


