.swiperContainer {
  width: 100%;
  /* max-width: 1680px; */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.years {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2F3241;
  z-index: 1;
}

.progress {
  height: 100%;
  background-color: #fff;
  transition: width 0.3s ease;
  z-index: 0;
}

.year {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 2;
  margin-top: 12px;
  text-align: center;
  color: #2F3241; 
}

.year::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #2F3241; /* default color */
  z-index: 2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.activeYear {
  font-weight: bold;
  color: #fff; /* active color */
  transform: scale(1.2);
}

.activeYear::before {
  background-color: #fff; /* active color */
  transform: translateX(-50%) rotate(45deg) scale(1.1);
}

.content {
  padding-top: 48px;
  text-align: center;
  font-size: 16px;
}

.slick-arrow {
  z-index: 2;
}

.carusel-left{
  justify-content: center;
  display: flex !important;
  gap: 24px;
}

.carusel-left > img{
  max-width: 862px;
  max-height: 567px;
}

.carusel-left-content{
  width: 212px;
}

.carusel-left-content > h4{
  font-weight: 600;
  font-size: 24px;
  color: #6A6E7F;
  margin-bottom: 13px;
}

.carusel-left-content > h2{
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 169px;
}

.carusel-left-content > p {
  color: #7C8796;
  font-size: 18px;
  font-weight: 400;
}


.carusel-right{
  display: flex !important;
  justify-content: center;
  gap: 24px;
}

.carusel-right > img{
  max-width: 862px;
  max-height: 567px;
}

.carusel-right > div {
  width: 436px;
}

.carusel-right > div > h2{
  font-size: 194px;
  font-weight: 600;
  color: #4F5062;
  width: 436px;
  line-height: 209.08px;
}


.carusel-right > div > h4{
  font-size:30px;
  font-weight: 400;
  color: white;
  text-align: end;
  margin-bottom: 172px;
}

.carusel-right > div > p{
  color: #7C8796;
  font-size: 18px;
  text-align: end;
  width: 342px;
  margin-left: 100px;
}


@media screen and (max-width: 1440px){
  .carusel-right > img{
     max-width: 646px;
     max-height: 425px;
  }

  .carusel-left > img{
     max-width: 646px;
     max-height: 425px;
  }


   .carusel-left > div > h4{
    font-size: 18px;
   }

   .carusel-left > div > h2{
    font-size: 22px;
   }

   .carusel-left > div > p{
    font-size: 14px;
   }

   .carusel-right > div > h2{
    font-size: 144px;
    width: 100%;
    text-align: end;
   }

   .carusel-right > div > p {
    font-size: 14px;
   }

   .carusel-right > div > h4{
    font-size: 22px;
    margin-bottom: 79px;
   }

   .swiperContainer {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .years {
    font-size: 12px;
  }
}


@media screen and (max-width: 1024px){
  .carusel-left > img{
     max-width: 459px;
     max-height: 302px;
  }

  .carusel-right > img {
     max-width: 459px;
     max-height: 302px;
  }

  .carusel-left > div > h4{
    font-size: 14px;
  }

  .carusel-left > div > h2 {
    font-size: 16px;
    width: 113px;
    margin-bottom: 90px;
  }

  .carusel-left > div > p{
    font-size: 12px;
    width: 143px;
  }

  .carusel-right > div > h2{
    font-size: 102px;
    line-height: 109.93px;
  }

  .carusel-right > div > h4{
    font-size: 16px;
    margin-bottom: 70px;
  }

  .carusel-right > div > p{
    font-size: 12px;
    width: 184px;
  }

  .carusel-right > div{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 232px;
  }

  .swiperContainer {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .years {
    font-size: 12px;
  }

}

@media screen and (max-width: 767px){
  .carusel-left {
    position: relative;
    flex-direction: column !important;
  }

  .carusel-right{
    position: relative;
    flex-direction: column !important;
  }

  .carusel-left > img {
    margin-top: 90px;
    max-width: 328px ;
    max-height: 215px;
  }

  .carusel-right > img {
    margin-top: 90px;
    order: 1;
    max-width: 328px;
    max-height: 215px;
  }

  .carusel-left > div > h4{
    position: absolute;
    font-size: 60px;
    top: 0;
  }

  .carusel-left > div > h2{
    top: 20px;
    position: absolute;
    font-size: 16px;
    right: 10px;
    text-align: end;
  }

  .carusel-left > div > p{
    font-size: 16px;
    width: 100%;
    max-width: 100%;
  }

  .carusel-left > div {
    width: 100%;
  }


  .carusel-right > div > h4{
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 16px;
  }

  .carusel-right > div > h2 {
    position: absolute;
    left: 0;
    width: auto;
    top: 0;
    font-size: 60px;
  }

  .carusel-right > div {
    order: 2;
    width: 100%;
  }

  .carusel-right > div > p{
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    text-align: start;
  }



  



  .swiperContainer {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .years {
    font-size: 12px;
  }


}


.carusel-right{
  position: relative;
}

.carusel-right > div > img{
  position: absolute;
  top: 0;
  left: -200px;
}

.carusel-left{
  position: relative;
}

.carusel-left > div > img{
  position: absolute;
  top: 100px;
  right: -200px;
}