@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Intro Cond';
  src: url('../public/fonts/IntroDemoBlackCaps.otf') format('opentype'), 
       url('../public/fonts/IntroDemoBlackCapsInline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../public/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../public/fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  overflow-x: hidden;
}

.container_fluid {
  max-width: 1920px !important;
  margin: 0 auto;
}

.container {
  max-width: 1560px !important;
  margin: 0 auto;
}

.header_container {
  max-width: 1022px;
  margin: 0 auto;
}




header {
  font-family: 'Intro Cond', sans-serif;
}

html, body {
  overflow-x: hidden;
}
